body {
    overflow: hidden;
}

button {
    outline: none;
    border: none;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.25);

    padding-right: 1vw;
    padding-left: 1vw;
}

button[danger] {
    background-color: rgba(255, 0, 0, 0.5);
    
    font-size: 4vh;
    font-weight: 900;
}

button[danger]:hover {
    background-color: rgba(255, 0, 0, 0.75);
}