body {
    overflow: hidden;
}

button {
    outline: none;
    border: none;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.25);

    padding-right: 1vw;
    padding-left: 1vw;
}

button[danger] {
    background-color: rgba(255, 0, 0, 0.5);
    
    font-size: 4vh;
    font-weight: 900;

    min-width: 12vw;
}

button[danger]:hover {
    background-color: rgba(255, 0, 0, 0.75);
}

dial {
    position: relative;

    display: flex;

    width: 4vw;
    height: 4vw;

    border-radius: 100%;

    background-color: rgb(80, 80, 80);
}

dial > img {
    width: 100%;
    height: 100%;
}

dial > div {
    font-size: 1.5vh;

    position: absolute;
    bottom: -2vh;

    text-wrap: nowrap;
}